<script>
  var screenName = localStorage.hasOwnProperty("screenNamea") ?
    localStorage.screenName : "";

  while (screenName == "") {
    screenName = prompt("What's your name?");
    //localStorage.screenName = screenName;
  }
</script>

<div id="room" role="main">
<h2>On the '<%=h params[:id] %>' room welcome you are!</h2>

<ul id="chatlog">
</ul>

<form id="new_message">
  <textarea id="new_message_text" name="new_message[text]" cols="77" rows="2"></textarea>
  <input type="submit" id="message_send" class="btn" value="Send">
</form>

<script type="text/html" id="message_tpl">
  <li>
    <span class="fn"></span>
    <div class="msg"></div>
    <time class="when" datetime=""></time>
  </li>
</script>

<script type="text/html" id="sys_message_tpl">
  <li class="sys_msg"></li>
</script>

<script defer="defer">
    $.ajax('/room/<%= params[:id] %>/history.json', {
        success: function(data) {
            $.each(data, function(i, entry) {
                console.log(entry);
                appendMessage(entry);
            });
        }
    });

    var accessToken = <%= $kosmonaut.request_single_access_token("presence-room-#{@room.id}").inspect %>
      , chanName = "presence-room-<%= @room.id %>"
      , ws = new WebSocket("<%= ENV['KOSMONAUT_WEBSOCKET_URL'] %>")
</script>
<script defer="defer" src="/js/helpers.js"></script>
<script defer="defer" src="/js/room.js"></script>

</div>
